params{
    sapmle = "ZebraFish"
    outDirectory = "$projectDir" // to save the results and other outputs
    reference = "$projectDir/Data/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    gtf = "$projectDir/Data/ggal_1.gtf"
    fastq_path = "$projectDir/Data/*{1,2}.fq"

    trimming = false

}

conda {
    enabled = true
}

includeConfig 'configs/output.config'
includeConfig 'configs/environments.config'