process{
    withName:'indexing|alignment' {
        conda = '/home/Ashutosh.Yadav/anaconda3/envs/starAligner'
    }
    
    withName:generateCountMatrix {
        conda = '/home/Ashutosh.Yadav/anaconda3/envs/featureCount'
    }

    withName:'fastqc|fastqc_forTrimming|multiqc|multiqc_forTrimming|trimmomatic' {
        conda = '/home/Ashutosh.Yadav/anaconda3/envs/qc'
    }
}