process{
    withName:indexing {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }
    
    withName:alignment {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:generateCountMatrix {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:fastqc {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/fastqc_results",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:fastqc_forTrimming {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/fastqc_results/AfterTrimming",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:multiqc {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/multiqc_results",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:multiqc_forTrimming {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/multiqc_results/afterTrimming",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }

    withName:trimmomatic {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/fastqFiles_after_trimming",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }
    withName:bamqc {
        publishDir = [
            [
                path : "${params.outDirectory}/Results_from_Pipeline/bamqc",
                pattern: "*",
                mode: "copy"
            ]
        ]
    }
}